@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museosans_700-webfont.woff2') format('woff2'),
         url('../fonts/museosans_700-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museosans-100-webfont.woff2') format('woff2'),
         url('../fonts/museosans-100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Gotham';
	src:url('../fonts/Gotham-Light.woff2') format('woff2'),
		url('../fonts/Gotham-Light.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src:url('../fonts/Helvetica-Light.woff2') format('woff2'),
		url('../fonts/Helvetica-Light.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src:url('../fonts/FuturaStd-Bold.woff2') format('woff2'),
		url('../fonts/FuturaStd-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family:'Metronic';
	src:url('../fonts/Metronic-Bold.woff') format("woff");
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family: 'Quicksand';
	src:url('../fonts/Quicksand-300.woff2') format('woff2'),
		url('../fonts/Quicksand-300.woff') format('woff');
	font-weight:300;
	font-style: normal;
}