/*************************************************
				SITE-WIDE STYLES
*************************************************/

* {
	box-sizing:border-box;
}

html, body {
	/* Clear margins & padding */
	margin:0;
	padding:0;
	border:0;
	
	/* Allow elements to size to 100% height of browser */
	height:100%;
	
	font-family:'Source Sans Pro', Tahoma, Arial, sans-serif;
	color:#333;
	font-size:1.1em;
}
/* 
body {
	overflow:hidden;
} */

img {
	display:block;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Source Sans Pro', Tahoma, Arial, sans-serif;
	color:#333;
	text-transform:uppercase;
	font-weight:normal;
	position:relative;
	margin:0;
	padding:0;
}

p {
	margin:0;
	margin-top:5px;	
	font-weight: 300;
    line-height: 1.7;
	font-size: 24px;
	letter-spacing:1px;
}

p a {
	color:#f06465;
	text-decoration:none;
	border-bottom:1px solid #f06465;
}

p a:hover {
	border-bottom:none;
}

button, button:active, button:visited {
	background: #f06465;
    border: 0;
    padding: 15px 20px;
    box-shadow: none;
	color:#fff;
	font-weight:600;
	font-family:'Source Sans Pro', Tahoma, Arial, sans-serif;
	font-size:20px;
	text-transform:uppercase;
	cursor: pointer;
	
	
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);	
	
	
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
	width:100%;
}


button:hover {
	background:#ff4849;
	
	-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
	
	
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

button .icon {
	display:inline;
	width:initial;
	height:initial;
	padding:0 3px;
}

h1 {
	line-height:1.1;	
}

h2 {
	text-transform:uppercase;
	color:#58595b;
	font-size:35px;
	font-weight:500;
	margin:0;
	margin-top:30px;
	margin-bottom:-30px;
	letter-spacing:2px;
}
}

h3, h4 {
	color:#898787;
}

h4 {
	text-transform:none;
}

header, hgroup, nav, menu, section, article, aside, footer {
	display: block;
}

img {
	width:100%;
}

strong {
	font-weight:600;
}


.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

.center {
	text-align:center;
}

.upChunk {
	margin-top:30px;
}

.bad {
	color:#B37171;
}

.good {
	color:#65B300;
}

section {
	width:100%;
	margin:0 auto;
}

nav {
	position:fixed;
	z-index:20;
	padding-top:16px;
	box-sizing:border-box;
	min-height:60px;
	margin:0 30px;
	opacity:0.9;
}

nav a, nav a:active, nav a:visited {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,-0,0);
}

nav a:hover {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,10%,0);
	transform: translate3d(0,10%,0);
}

.back {
	position:absolute;
	width:80px;
	height:80px;
	background-image:url('../images/back.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
	display:block;
}


/*************************************************
				SPECIFIC STYLES
*************************************************/

.header  {
	width:100%;
	position:relative;
	color:#fff;
	text-align:left;
	margin-bottom:40px;
}

.header .headerBG {
	width:100%;
	height:auto;
	display:block;
	
}

.header .logoBox {
	font-weight:300;
	width:400px;
	position:absolute;
	right:60px;
	bottom:70px;
	font-size:24px;
}

.logoBox p {
	line-height:normal;
}

.video {
	
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
	margin:50px 0;
} 
	
.video iframe, .embed-container object, .embed-container embed {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}


img.overview {
	margin:50px 0 20px 0;
}

h5 {
	font-size:20px;
	color:#888;
	letter-spacing:3px;
	margin-bottom:5px;
}

.col2 {
	width:48%;
	position:relative;
}

.col3 {
	width:33%;
	position:relative;
}

.flex-row {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	position:relative;
}

.flex-row-center {
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.flex-row-center .rightText {
	margin-right:4%;
}

.rightText {
	text-align:right;
}

.leftText {
	text-align:left;
}

.narrowText {
	width:75%;
	position:absolute;
	right:0;
	color:#888;
}


.shadow {
	box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.2);

}

.forceShadow {
	position:relative;
}


.forceShadow:before {
	content: " ";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -20px;
	left:20px;
	z-index:-1;
	background-color:rgba(0,0,0,0.2);
}




.container {
	width:70%;
	margin:0 auto;
	position:relative;
	padding:30px 0 80px 0;
}

.partialContainer {
	width:85%;
	margin:0 auto;
	padding-bottom:80px;
}

.partialContainer .shadow {
	margin-top:50px;
}

.infoPane {
	padding:50px 0;
}


.clearBot {
	padding-bottom:0;
}


.colorBG p {
	line-height:1.2;
}



.text {

    font-weight: 300;
    line-height: 1.7;
    font-size: 24px;
	width:800px;	
	margin:0 auto;
}

.text p {
	margin-top:30px;
}

p.textSmol {
	font-size:21px;
	line-height:1.5;
	margin:0;
}

.emph {
	font-style:italic;
	font-size:24px;
	line-height:1.4;
	font-weight:600;
}

section.lightBG {
	background-color:#e6e7e8;
}

.noTitle {
	padding-top:50px;
}

.caption {
	font-size:1em;
	text-align:center;
	margin-top:10px;
}

.value {
	margin-bottom:70px;
}
.value.last {
	margin-bottom:0;
}

.value  img{
	width:70px;
	float:left;
	margin-top:10px;
}

.value .content {
	margin-left:90px;
}

.context {
	background-color:#e7e7e7;
	padding:70px;
	position:relative;
	margin-top:30px;
}



.number {
	width:50px;
	height:50px;
	position:absolute;
	top:0;
	left:0;
	padding-top:4px;
	background-color:#434343;
	color:#fff;
	text-align:center;
	font-family:'DistrictPro', Tahoma, Arial, sans-serif;
	font-size:1.5em;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #559d36;
	margin:0 auto;
}


.line {
	height:140px;
	width:1px;
	/* background-color:#559d36; */
	margin:0 auto;
}

.label {
	margin:-100px auto 52px auto;
	text-align:center;
	color:#559d36;
	padding:10px;
	border:1px solid #559d36;
	width:200px;
	background-color:#fff;
}

.credits {
	margin:0 auto;
	width:530px;
	margin: 30px auto 0 auto;
	padding:50px 0;
}

.credits h4, .credits p {
	font-size:18px;
	line-height:2;
	margin:0;
	padding:0;
	letter-spacing:1.5px;
}

.credits h4 {
	float:left;
	text-align:right;
	width:100px;
	font-weight:500;
	text-transform:uppercase;
	margin-right:30px;
}

.credits p { 
	float:left;
	text-align:left;
	width:400px;
}

.adjustingCaption {
	text-align:left;
}

/* .up {
	margin-top:-40px;
} */

.connected {
	background:url('../img/line.png') repeat-y center top;
}



/*************************************************
				GALLERY-SPECIFIC STYLES
*************************************************/
.slider {
	overflow:hidden; /* Delete me to show thumbs */ 
	background-image:url('../img/main.png');
	background-repeat:no-repeat;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size:contain;
	-o-background-size: contain;
	/* Makes IE size correctly */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main.png', sizingMethod='scale')";
	max-width:1500px;
	padding-left:14.5%;
	padding-top:3.5%;
	margin-top:30px;
}

.slider ul {
	-webkit-padding-start: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
}

.slider .img {
	width:100%;
}

.flexslider {
	border:none;
	border-radius:0px;
	overflow:hidden; 
	width:83.5%; 
	background:none;
	height:100%;
	-webkit-box-shadow:none;
	box-shadow:none;
	/* margin:0; */
}

.shine {
	width:74.7%;	
	position:absolute;
	left:0;
	top:0;
	z-index:10;
}

.flex-viewport {
	border:0px solid #222;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	background:none;
}


.flex-control-nav  {
	position:relative;
	bottom:-0.2em;
}

.flexslider a  {
	color:rgba(0, 0, 0, 0.8);
}

.flexslider a:hover {
	color:rgba(0, 0, 0, 0.9);
}

.flexslider:hover .flex-prev, 
.flexslider:hover .flex-next { 
	opacity: 0.3; 
}

.flexslider:hover .flex-prev:hover, 
.flexslider:hover .flex-next:hover { 
	opacity: 0.6; 
}


.flex-control-paging li a {
	background-color:#bbb;
}

.flex-control-paging li a.flex-active {
	background-color:#666;
}

.flex-control-paging li a:hover {
	background-color:#fff;
}

.flex-direction-nav a:before,
.flex-direction-nav a.flex-next:before {
	content:'';	
}

.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next {
	background:url('../img/arrow.png') no-repeat;
	width:25px;
	height:40px;
}

.flex-direction-nav .flex-next {
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.loader {
	background-color:#34a393;
}

.flushTop {
	margin-top:0;
	padding-top:0;
}


.flushBot {
	margin-bottom:0;
	padding-bottom:0;
}


.download {
	width:350px;
	margin:0 auto;
	margin-bottom:50px;
}

.download a {
	float:left;
	width:170px;
	margin-bottom:30px;
}

.download a:first-child {
	margin-right:10px;
}
			

/****************************************
	Louvre Styles
*****************************************/

#louvre .colorBG {
	background-color:#34a393;
}

#louvre .colorBG h1, #louvre .colorBG p {
	color:#fff;
}

#louvre .loader {
	background-color:#34a393;
}

#louvre .flushTop {
	margin-top:0;
	padding-top:0;
}


#louvre .logoBox h1, #louvre  .logoBox h2 {
	text-transform:uppercase;
	font-size:60px;
	margin:0;
	padding:0;
	line-height:90%;
	color:#fff;
	font-weight:700;
	font-family:'Museo Sans', Tahoma, Arial, sans-serif;
}

#louvre .header .logoBox h1 {
	font-weight:100;
}

#louvre h1 {
	color:#34a393;
	font-size:40px;
	font-weight:500;
	margin:0;
	margin-top:30px;
	margin-bottom:15px;
	letter-spacing:2px;
}


#louvre .emph {
	color:#34a393;
}

#louvre .col2 h1 {
	margin:0;
	margin-bottom:5px;
	padding:0;
}


#louvre .micro .col2 {
	max-width:550px;
}

#louvre .micro .col3 {
	max-width:500px;
}

#louvre .micro .together1 {
	max-width:1500px;
	margin:0 auto;
}

#louvre .micro .together2 {
	max-width:1150px;
	margin:0 auto;
}

#louvre .micro .col2 img, #louvre .micro .col3 img {
	width:auto;
	max-width:100%;
}

@media only screen and (max-width: 1550px) {
	#louvre .header .logoBox {
		right:40px;
		bottom:40px;
	}
}

@media only screen and (max-width: 1350px) {
	#louvre .header .logoBox {
		text-align:right;
	}
	
	#louvre .header h1, .header h2 {
		font-size:50px;
		
	}
}

@media only screen and (max-width: 1000px) {
	#louvre .header h1, #louvre  .header h2 {
		font-size:50px;
		color:#fff;		
	}
	
	#louvre .header .logoBox {
		text-align:center;
		position:relative;
		color:#fff;
		margin:0 auto;
		width:90%;
		max-width:750px;		
		right:0;
		bottom:0;
		margin-top:50px;
		padding:50px;
		background-color:#34a393;
		/* box-shadow: 20px 20px 0px rgba(39, 122, 110, 1), -20px -20px 0px rgba(39, 122, 110,1); */
	}	
	
	#louvre .logoBox > p {
		width:400px;
		margin:30px auto;
	}
	

	
}

@media only screen and (max-width: 600px) {
	#louvre .logoBox > p {
		width:90%;
		margin:30px auto;
	}	
	#louvre  h1 {
		font-size:30px;
	}	
	
	#louvre  h2 {
		font-size:25px;
	}
	#louvre .emph {
		font-size:20px;
		line-height:1.4;
	}
}



/****************************************
	NatGeo Styles
*****************************************/

#natgeo .colorBG {
	background-color:#ffdd33;
}

#natgeo .colorBG h1{
	color:#967900;
} 
#natgeo .colorBG p {
	color:#000;
}

#natgeo .flushTop {
	margin-top:0;
	padding-top:0;
}

#natgeo .loader {
	background-color:#ffdd33;
}

#natgeo .header .logoBox {
	width:520px;
}

#natgeo .logoBox h1, #natgeo  .logoBox h2 {
	text-transform:uppercase;
	font-size:65px;
	margin:0;
	padding:0;
	line-height:90%;
	color:#000;
	font-weight:100;
	font-family:'Gotham', Tahoma, Arial, sans-serif;
}
#natgeo .logoBox p {
	color:#000;
}

#natgeo .header .logoBox h1 {
	font-weight:100;
	font-size:20px;
	font-family:'Helvetica', Tahoma, Arial, sans-serif;
	margin-bottom:10px;
}

#natgeo h1 {
	color:#dbb823;
	font-size:40px;
	font-weight:500;
	margin:0;
	margin-top:30px;
	margin-bottom:15px;
	letter-spacing:2px;
}

#natgeo .lightBG h1 {
	color:#dbb823;
}

#natgeo .emph {
	color:#a08100;
}

#natgeo .col2 h1 {
	margin:0;
	margin-bottom:5px;
	padding:0;
}


#natgeo .micro .col2 {
	max-width:550px;
}

#natgeo .micro .col3 {
	max-width:500px;
}

#natgeo  .together {
	max-width:700px;
	width:auto;
	margin:0 auto;
}


#natgeo .together h5 {
	margin-top:140px;
	width:30%;
}

#natgeo .together img {
	width: 58%;
}


#natgeo .norm {
	width:auto;
	max-width:100%;
	margin:0 auto;
	margin-top:50px;
}

#natgeo .micro .col2 img, #natgeo .micro .col3 img {
	width:auto;
	max-width:100%;
}

@media only screen and (max-width: 1550px) {
	#natgeo .header .logoBox {
		right:40px;
		bottom:40px;
	}
}

@media only screen and (max-width: 1350px) {
	#natgeo .header .logoBox  {
		width:390px;
	}
	#natgeo .header .logoBox h1 {
		font-size:15px;
	}
	#natgeo .header .logoBox h2 {
		font-size:50px;
		
	}
}

@media only screen and (max-width: 1100px) {
	#natgeo .header .logoBox  {
		bottom:15px;
		right:15px;
	}
}

@media only screen and (max-width: 1000px) {
	#natgeo .header .logoBox h2 {
		font-size:50px;
		color:#000;		
	}
	
	#natgeo  .header .logoBox h1 {
		font-size:20px;
		margin-left:-270px;
	}
	
	#natgeo .header .logoBox {
		text-align:center;
		position:relative;
		color:#000;
		margin:0 auto;
		width:90%;
		max-width:750px;		
		right:0;
		bottom:0;
		margin-top:50px;
		padding:50px;
		background-color:#ffdd33;
		/* box-shadow: 20px 20px 0px rgba(39, 122, 110, 1), -20px -20px 0px rgba(39, 122, 110,1); */
	}	
	
	#natgeo .logoBox > p {
		width:400px;
		margin:30px auto;
	}
	
		
	#natgeo .together .leftText {
		float:left;
		text-align:right;
	}
	
}

@media only screen and (max-width: 600px) {
	#natgeo .logoBox > p {
		width:90%;
		margin:30px auto;
	}	
	#natgeo .header .logoBox h1 {
		text-align:center;
		margin-left:0;
	}
	
	#natgeo  h1 {
		font-size:30px;
	}
	#natgeo  h2 {
		font-size:25px;
	}
	
	#natgeo .emph {
		font-size:20px;
		line-height:1.4;
	}
	
	#natgeo .together {
		width:100%;
	}
	
	#natgeo .together .leftText {
		float:none;
		text-align:center;
		width:100%;
		margin-top:0;
		margin-bottom:30px;
	}
	#natgeo .together img {
		float:none;
		width:100%;
	}

}



/****************************************
	Bike Styles
*****************************************/

#bike .colorBG {
	background-color:#3D5599;
}

#bike .colorBG h1{
	color:#fff;
} 
#bike .colorBG p {
	color:#fff;
}

#bike .flushTop {
	margin-top:0;
	padding-top:0;
}

#bike .loader {
	background-color:#3D5599;
}

#bike .header .logoBox {
	width:450px;
	text-align:right;
}

#bike  .logoBox h2 {
	text-transform:uppercase;
	font-size:40px;
	margin:0;
	padding:0;
	line-height:90%;
	color:#fff;
	font-weight:bold;
	font-family:'Futura', Tahoma, Arial, sans-serif;
}
#bike .logoBox p {
	color:#fff;
}

#bike .header .logoBox img {
	margin-bottom:10px;
	width:300px;
}

#bike h1 {
	color:#3D5599;
	font-size:40px;
	font-weight:500;
	margin:0;
	margin-top:30px;
	margin-bottom:15px;
	letter-spacing:2px;
}


#bike .lightBG h1 {
	color:#3D5599;
}

#bike .emph {
	color:#3D5599;
}

#bike .partialContainer {
	max-width:1200px;
}

#bike .partialContainer img {
	margin-top:40px;
}

#bike .botSpace {
	padding-bottom:50px;
}
#bike .topSpace {
	padding-top:40px;
	margin-bottom:20px;
}

#bike h1 + p.topSpace {
	margin-top:0;
}

#bike .col2 h1 {
	margin:0;
	margin-bottom:5px;
	padding:0;
}


#bike .micro .col2 {
	max-width:550px;
}

#bike .micro .col3 {
	max-width:500px;
}

#bike  .together {
	max-width:700px;
	width:auto;
	margin:0 auto;
}


#bike .together h5 {
	margin-top:140px;
	width:30%;
}

#bike .together img {
	width: 58%;
}


#bike .norm {
	width:auto;
	max-width:100%;
	margin:0 auto;
	margin-top:50px;
}

#bike .micro .col2 img, #bike .micro .col3 img {
	width:auto;
	max-width:100%;
}

#bike .credits  {
	width: 720px;
}

#bike .credits p {
	width: 580px;
}

#bike .credits h4 {
	width: 110px;
}



@media only screen and (max-width: 1400px) {
	#bike .header .logoBox img  {
		width:200px;
	}
	
	#bike .header .logoBox h2  {
		font-size:30px;
	}

	#bike .header .logoBox  {
		bottom:30px;
		right:30px;
	}
}


@media only screen and (max-width: 1200px) {

	#bike .header .logoBox  {
		bottom:25px;
		right:25px;
		
	}
}

@media only screen and (max-width: 1000px) {
	#bike .header .logoBox h2 {
		font-size:40px;
		color:#fff;		
	}
	
	#bike  .header .logoBox img {
		width:250px;
		float:none;
		margin:0 auto;
		margin-bottom:10px;
	}
	
	#bike .header .logoBox {
		text-align:center;
		position:relative;
		color:#fff;
		margin:0 auto;
		width:90%;
		max-width:750px;		
		right:0;
		bottom:0;
		margin-top:50px;
		padding:50px;
		background-color:#3D5599;
		/* box-shadow: 20px 20px 0px rgba(39, 122, 110, 1), -20px -20px 0px rgba(39, 122, 110,1); */
	}	
	
	#bike .logoBox > p {
		width:400px;
		margin:30px auto;
	}
	
		
	#bike .together .leftText {
		float:left;
		text-align:right;
	}
	#bike .credits {
		width:90%;
	}
	#bike .credits h4 {
		float:none;
		text-align:left;
		width:90%;
	}
	
	#bike .credits p{
		float:none;
		text-align:left;
		margin-bottom:30px;
		width:90%;
	}	
	
}

@media only screen and (max-width: 600px) {
	#bike .logoBox > p {
		width:90%;
		margin:30px auto;
	}	
	#bike .header .logoBox img {
		text-align:center;
		width:150px;
	}
	
	#bike .header .logoBox h2 {
		font-size:25px;
	}
	
	#bike  h1 {
		font-size:30px;
	}
	#bike  h2 {
		font-size:25px;
	}
	
	#bike .emph {
		font-size:20px;
		line-height:1.4;
	}
	
	#bike .together {
		width:100%;
	}
	
	#bike .together .leftText {
		float:none;
		text-align:center;
		width:100%;
		margin-top:0;
		margin-bottom:30px;
	}
	#bike .together img {
		float:none;
		width:100%;
	}	

}


/****************************************
	Busytown Styles
*****************************************/

#busytown .colorBG {
	background-color:#f78e26;
}

#busytown .colorBG h1{
	color:#fff;
} 
#busytown .colorBG p {
	color:#fff;
}

#busytown .flushTop {
	margin-top:0;
	padding-top:0;
}

#busytown .loader {
	background-color:#f78e26;
}

#busytown .header .logoBox {
	width:460px;
	text-align:right;
	bottom:60px;
}

#busytown  .logoBox h2 {
	text-transform:uppercase;
	font-size:35px;
	margin:0;
	padding:0;
	line-height:90%;
	color:#fff;
	font-weight:bold;
	font-family:'Futura', Tahoma, Arial, sans-serif;
}
#busytown .logoBox p {
	color:#fff;
}

#busytown .header .logoBox img {
	margin-bottom:10px;
	width:300px;
}

#busytown h1 {
	color:#f05a28;
	font-size:40px;
	font-weight:500;
	margin:0;
	margin-top:30px;
	margin-bottom:15px;
	letter-spacing:2px;
}

#busytown img.overview {
	margin:50px 0 20px 0;
}


#busytown .lightBG h1 {
	color:#f05a28;
}

#busytown .emph {
	color:#f05a28;

}

#busytown .partialContainer {
	max-width:1200px;
}

#busytown .partialContainer img {
	margin-top:40px;
}

#busytown .botSpace {
	padding-bottom:50px;
}
#busytown .topSpace {
	padding-top:40px;
	margin-bottom:20px;
}

#busytown h1 + p.topSpace {
	margin-top:0;
}

#busytown .col2 h1 {
	margin:0;
	margin-bottom:5px;
	padding:0;
}


#busytown .credits  {
	width: 720px;
}

#busytown .credits p {
	width: 500px;
}

#busytown .credits h4 {
	width: 180px;
}



@media only screen and (max-width: 1400px) {
	#busytown .header .logoBox {
		width:400px;
	}
	
	#busytown .header .logoBox img  {
		width:200px;
	}
	
	#busytown .header .logoBox h2  {
		font-size:25px;
	}
}


@media only screen and (max-width: 1200px) {

	#busytown .header .logoBox  {
		bottom:25px;
		right:25px;
		
	}
}

@media only screen and (max-width: 1000px) {
	#busytown .header .logoBox h2 {
		font-size:40px;
		color:#fff;		
	}
	
	#busytown  .header .logoBox img {
		width:300px;
		float:none;
		margin:0 auto;
		margin-bottom:10px;
	}
	
	#busytown .header .logoBox {
		text-align:center;
		position:relative;
		color:#fff;
		margin:0 auto;
		width:90%;
		max-width:750px;		
		right:0;
		bottom:0;
		margin-top:50px;
		padding:50px;
		background-color:#f78e26;
		/* box-shadow: 20px 20px 0px rgba(39, 122, 110, 1), -20px -20px 0px rgba(39, 122, 110,1); */
	}	
	
	#busytown .logoBox > p {
		width:400px;
		margin:30px auto;
	}
	
	
	#busytown .credits {
		width:90%;
	}
	#busytown .credits h4 {
		float:none;
		text-align:left;
		width:90%;
	}
	
	#busytown .credits p{
		float:none;
		text-align:left;
		margin-bottom:30px;
		width:90%;
	}	
	
}

@media only screen and (max-width: 600px) {
	#busytown .logoBox > p {
		width:90%;
		margin:30px auto;
	}	
	#busytown .header .logoBox h2 {	
		font-size:25px;
	}
	#busytown .header .logoBox img {
		text-align:center;
		margin:0 auto;
		margin-bottom:10px;
		width:150px;
	}
	
	#busytown  h1 {
		font-size:30px;
	}
	#busytown  h2 {
		font-size:25px;
	}
	
	#busytown .emph {
		font-size:20px;
		line-height:1.4;
	}

}


/****************************************
	HGC Styles
*****************************************/

#hgc .colorBG {
	background-color:#522E99;
}

#hgc .colorBG h1{
	color:#fff;
} 
#hgc .colorBG p {
	color:#fff;
}

#hgc .flushTop {
	margin-top:0;
	padding-top:0;
}

#hgc .loader {
	background-color:#522E99;
}

#hgc .header .logoBox {
	width:500px;
	right:8%;
}

#hgc .logoBox img {
	margin: 0 auto;
}

#hgc .logoBox h1, #hgc  .logoBox h2 {
	text-transform:uppercase;
	font-size:30px;
	margin:0;
	padding:0;
	line-height:80%;
	color:#fff;
	font-weight:700;
	font-family:'Metronic', Tahoma, Arial, sans-serif;
	margin-bottom:20px;
}

#hgc .logoBox p {
	color:#fff;
}

#hgc .header .logoBox h1 {
	font-size:20px;
	margin-bottom:10px;
}

#hgc .header .logoBox img {
	margin-bottom:20px;
	width:150px;
}

#hgc h1 {
	color:#522E99;
	font-size:40px;
	font-weight:500;
	margin:0;
	margin-top:30px;
	margin-bottom:15px;
	letter-spacing:2px;
}

#hgc .overview {
	margin: 50px 0;
}

#hgc .button{
	margin:20px auto 50px auto;
	width:260px;
	display:block;
}


#hgc .emph {
	color:#522E99;
}


#hgc .col2 h1 {
	margin:0;
	margin-bottom:5px;
	padding:0;
}


#hgc .micro .col2 {
	max-width:550px;
}

#hgc .micro .col3 {
	max-width:500px;
}

#hgc .together {
	max-width:700px;
	width:auto;
	margin:0 auto;
}


#hgc .together h5 {
	margin-top:140px;
	width:30%;
}

#hgc .together img {
	width: 58%;
}

#hgc .offset {
	margin-top:-100px
}

#hgc .norm {
	width:auto;
	max-width:100%;
	margin:0 auto;
	margin-top:10px
}

#hgc .micro .col2 img, #hgc .micro .col3 img {
	width:auto;
	max-width:100%;
}

#hgc .credits  {
	width: 490px;
}

#hgc .credits p {
	width: 340px;
}

#hgc .credits h4 {
	width: 120px;
}

@media only screen and (max-width: 1550px) {
	#hgc .header .logoBox {
		right:40px;
		bottom:40px;
	}
}

@media only screen and (max-width: 1350px) {
	#hgc .header .logoBox  {
		width:390px;
	}

}

@media only screen and (max-width: 1100px) {
	#hgc .header .logoBox  {
		bottom:25px;
		right:15px;
	}
}

@media only screen and (max-width: 1000px) {
	#hgc .header .logoBox h2 {
		font-size:30px;
		line-height:110%;
	}
	
	#hgc  .header .logoBox h1 {
		font-size:20px;
		margin-bottom:5px;
	}
	
	#hgc .header .logoBox {
		text-align:center;
		position:relative;
		color:#000;
		margin:0 auto;
		width:90%;
		max-width:750px;		
		right:0;
		bottom:0;
		margin-top:50px;
		padding:50px;
		background-color:#522E99;
		/* box-shadow: 20px 20px 0px rgba(39, 122, 110, 1), -20px -20px 0px rgba(39, 122, 110,1); */
	}	
	
	#hgc .header .logoBox img {
		margin:0 auto;
		margin-bottom:40px;
	}
	
	#hgc .logoBox > p {
		width:400px;
		margin:30px auto;
	}

		
	#hgc .together .leftText {
		float:left;
		text-align:right;
	}

	
}

@media only screen and (max-width: 600px) {
	#hgc .logoBox > p {
		width:90%;
		margin:30px auto;
	}	
	#hgc .header .logoBox h1 {
		text-align:center;
		margin-left:0;
	}
	
	#hgc  h1 {
		font-size:30px;
	}
	#hgc  h2 {
		font-size:25px;
	}
	
	#hgc .emph {
		font-size:20px;
		line-height:1.4;
	}
	
	#hgc .together {
		width:100%;
	}
	
	#hgc .together .leftText {
		float:none;
		text-align:center;
		width:100%;
		margin-top:0;
		margin-bottom:30px;
	}
	#hgc .together img {
		float:none;
		width:100%;
	}
	
		
	#hgc .credits {
		width:90%;
	}
	#hgc .credits h4 {
		float:none;
		text-align:left;
		width:90%;
	}
	
	#hgc .credits p{
		float:none;
		text-align:left;
		margin-bottom:30px;
		width:90%;
	}	

}





/****************************************
	Pixi Styles
*****************************************/

#pixi .colorBG {
	background-color:#6D2E47;		
	position:relative; /* Need for z-index to be respected */
	z-index:-50;
}

#pixi .colorBG h1{
	color:#fff;
} 
#pixi .colorBG p {
	color:#fff;
}

#pixi .flushTop {
	margin-top:0;
	padding-top:0;
}

#pixi .loader {
	background-color:#6D2E47;
}

#pixi .header .logoBox {
	width:450px;
	text-align:right;
}

#pixi  .logoBox h1 {
	text-transform:uppercase;
	font-size:60px;
	margin:0;
	padding:0;
	line-height:90%;
	color:#fff;
	font-weight:300;
	font-family:'Quicksand', Tahoma, Arial, sans-serif;
}


#pixi .logoBox p {
	color:#fff;
}

#pixi .header .logoBox img {
	margin-bottom:10px;
	width:300px;
}

#pixi h1 {
	color:#6D2E47;
	font-size:40px;
	font-weight:500;
	margin:0;
	margin-top:30px;
	margin-bottom:15px;
	letter-spacing:2px;
}


#pixi .lightBG h1 {
	color:#6D2E47;
}

#pixi .emph {
	color:#6D2E47;
}


#pixi .partialContainer {
	max-width:1200px;
}

#pixi .partialContainer img {
	margin-top:40px;
}

#pixi .botSpace {
	padding-bottom:50px;
}
#pixi .topSpace {
	padding-top:40px;
	margin-bottom:20px;
}

#pixi h1 + p.topSpace {
	margin-top:0;
}

#pixi .norm {
	width:auto;
	max-width:100%;
	margin:0 auto;
	margin-top:50px;
}

#pixi .credits  {
	width: 610px;
}

#pixi .credits p {
	width: 470px;
}

#pixi .credits h4 {
	width: 110px;
}



@media only screen and (max-width: 1400px) {
	#pixi .header .logoBox img  {
		width:200px;
	}
	
	#pixi .header .logoBox h2  {
		font-size:30px;
	}

	#pixi .header .logoBox  {
		bottom:30px;
		right:30px;
	}
}


@media only screen and (max-width: 1200px) {

	#pixi .header .logoBox  {
		bottom:25px;
		right:25px;
		
	}
}

@media only screen and (max-width: 1000px) {
	#pixi .header .logoBox h2 {
		font-size:40px;
		color:#fff;		
	}
	
	#pixi  .header .logoBox img {
		width:250px;
		float:none;
		margin:0 auto;
		margin-bottom:10px;
	}
	
	#pixi .header .logoBox {
		text-align:center;
		position:relative;
		color:#fff;
		margin:0 auto;
		width:90%;
		max-width:750px;		
		right:0;
		bottom:0;
		margin-top:50px;
		padding:50px;
		background-color:#6D2E47;
	}	
	
	#pixi .logoBox > p {
		width:400px;
		margin:30px auto;
	}
	
		
	#pixi .together .leftText {
		float:left;
		text-align:right;
	}
	
		
	#pixi .credits {
		width:90%;
	}
	
	#pixi .credits h4 {
		float:none;
		text-align:left;
		width:90%;
	}
	
	#pixi .credits p{
		float:none;
		text-align:left;
		margin-bottom:30px;
		width:90%;
	}	
	
}

@media only screen and (max-width: 600px) {
	#pixi .logoBox > p {
		width:90%;
		margin:30px auto;
	}	
	#pixi .header .logoBox img {
		text-align:center;
		width:150px;
	}
	
	#pixi .header .logoBox h2 {
		font-size:25px;
	}
	
	#pixi  h1 {
		font-size:30px;
	}
	#pixi  h2 {
		font-size:25px;
	}
	
	#pixi .emph {
		font-size:20px;
		line-height:1.4;
	}
	
}




/****************************************
	shadowlands Styles
*****************************************/

#shadowlands .colorBG {
	background-color:#1E2740;
}

#shadowlands .colorBG h1{
	color:#fff;
} 
#shadowlands .colorBG p {
	color:#fff;
}

#shadowlands .loader {
	background-color:#1E2740;
}

#shadowlands .header .logoBox {
	width:400px;
	right:140px;
}

#shadowlands .logoBox h1, #shadowlands  .logoBox h2 {
	text-transform:uppercase;
	font-size:30px;
	margin:0;
	padding:0;
	line-height:80%;
	color:#fff;
	font-weight:700;
	font-family:'Metronic', Tahoma, Arial, sans-serif;
	margin-bottom:20px;
}

#shadowlands .logoBox p {
	color:#fff;
	text-align:center;
}

#shadowlands .header .logoBox h1 {
	font-size:20px;
	margin-bottom:10px;
}

#shadowlands .header .logoBox img {
	margin-bottom:20px;
	width:400px;
}

#shadowlands h1 {
	color:#1E2740;
	font-size:40px;
	font-weight:500;
	margin:0;
	margin-top:30px;
	margin-bottom:15px;
	letter-spacing:2px;
}

#shadowlands .button{
	margin:20px auto 50px auto;
	width:260px;
	display:block;
}

#shadowlands .navVideo {
	padding-bottom:40%;
	margin:0;
	margin-bottom:80px;
}

#shadowlands .emph {
	color:#1E2740;
}

#shadowlands .colorBG .partialContainer {
	margin-top:0px;
}

#shadowlands .col2 h1 {
	margin:0;
	margin-bottom:5px;
	padding:0;
}


#shadowlands .micro .col2 {
	max-width:550px;
}

#shadowlands .micro .col3 {
	max-width:500px;
}

#shadowlands  .together {
	max-width:700px;
	width:auto;
	margin:0 auto;
}


#shadowlands .together h5 {
	margin-top:140px;
	width:30%;
}

#shadowlands .together img {
	width: 58%;
}

#shadowlands .btnVid {
	padding-bottom:42%;
	margin:0;
}


#shadowlands .norm {
	width:auto;
	max-width:100%;
	margin:0 auto;
	margin-top:50px;
}


#shadowlands .credits  {
	width: 540px;
}

#shadowlands .credits p {
	width: 390px;
}

#shadowlands .credits h4 {
	width: 120px;
}

#shadowlands .flushTop {
	margin-top:0;
	padding-top:0;
}

@media only screen and (max-width: 1550px) {
	#shadowlands .header .logoBox {
		right:100px;
		bottom:40px;
	}
}

@media only screen and (max-width: 1350px) {
	#shadowlands .header .logoBox  {
		width:390px;
		right: 50px;
	}

}

@media only screen and (max-width: 1100px) {
	#shadowlands .header .logoBox  {
		bottom:25px;
		right:15px;
	}
}

@media only screen and (max-width: 1000px) {
	#shadowlands .header .logoBox h2 {
		font-size:30px;
		line-height:110%;
	}
	
	#shadowlands  .header .logoBox h1 {
		font-size:20px;
		margin-bottom:5px;
	}
	
	#shadowlands .header .logoBox {
		text-align:center;
		position:relative;
		color:#000;
		margin:0 auto;
		width:90%;
		max-width:750px;		
		right:0;
		bottom:0;
		margin-top:50px;
		padding:50px;
		background-color:#1E2740;
		/* box-shadow: 20px 20px 0px rgba(39, 122, 110, 1), -20px -20px 0px rgba(39, 122, 110,1); */
	}	
	
	#shadowlands .header .logoBox img {
		margin:0 auto;
		margin-bottom:40px;
	}
	
	#shadowlands .logoBox > p {
		width:400px;
		margin:30px auto;
	}
	
	#shadowlands .partialContainer .right {
		margin-top:100px;
	}
		
	#shadowlands .together .leftText {
		float:left;
		text-align:right;
	}

	
}

@media only screen and (max-width: 600px) {
	#shadowlands .logoBox > p {
		width:90%;
		margin:30px auto;
	}	

	#shadowlands .header .logoBox img {
		margin-bottom:20px;
		width:330px;
	}

	#shadowlands .header .logoBox h1 {
		text-align:center;
		margin-left:0;
	}
	
	#shadowlands  h1 {
		font-size:30px;
	}
	#shadowlands  h2 {
		font-size:25px;
	}
	
	#shadowlands .emph {
		font-size:20px;
		line-height:1.4;
	}
	
	#shadowlands .together {
		width:100%;
	}
	
	#shadowlands .together .leftText {
		float:none;
		text-align:center;
		width:100%;
		margin-top:0;
		margin-bottom:30px;
	}
	#shadowlands .together img {
		float:none;
		width:100%;
	}
	
		
	#shadowlands .credits {
		width:90%;
	}
	#shadowlands .credits h4 {
		float:none;
		text-align:left;
		width:90%;
	}
	
	#shadowlands .credits p{
		float:none;
		text-align:left;
		margin-bottom:30px;
		width:90%;
	}	

}











@media only screen and (max-width: 600px) {
	.flex-control-nav  {
		bottom:0em;
	}
}

@media only screen and (max-width: 860px) {
	.flex-direction-nav .flex-next {
		opacity:0.3;
		right:-50px;
	}	
	.flex-direction-nav .flex-prev {
		opacity:0.3;
		left:-50px;
	}
}


/*************************************************
				RESPONSIVE MOBILE
*************************************************/

@media only screen and (max-width: 1000px) {
	.col2 {
		width:100%;
	}
	
	.micro .col3.left {
		float:none;
		width:100%;
		max-width:500px;
		margin:0 auto 50px auto;
	}
	.micro .col3.left.last {
		margin-bottom:0;
	}
	
	.micro .col2 {
		float:none;
		width:100%;
		max-width:500px;
		margin:0 auto 50px auto;
	}

	
	.leftText {
		float:none;
		text-align:left;
	}
	.rightText {
		float:none;
		margin-bottom:30px;
	}

	.flex-row {
		flex-direction: column;
	}

	.flex-row .col2:not(:last-child) {
		margin-bottom:30px;
	}

}

@media only screen and (max-width: 1100px) {
	.container {
		width:90%;
	}
	
	.adjustingCaption {
		text-align:center;
	}
}

@media only screen and (max-width: 600px) {
	.text {
		font-size:20px;
	}
	
	h5 {
		font-size:16px;
	}
	
	.header .logoBox {
		font-size:20px;
	}
	
	nav {
		margin:0 10px;
	}
	.credits {
		width:90%;
	}
	.credits h4 {
		float:none;
		text-align:left;
		width:90%;
	}
	
	.credits p{
		float:none;
		text-align:left;
		margin-bottom:30px;
		width:90%;
	}

	.download {
		width:95%;
		margin:0 auto;
		
	}

	.download a {
		width:49%;
		margin-bottom:30px;
	}

	.download a:first-child {
		margin-right:2%;
	}
	
}

