# Allow .htaccess files their full power
# AllowOverride All
# DirectoryIndex index.html

#Block access to subdirectories
Options -Indexes

# Hide filename extensions
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

#Force redirect to https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 